.review-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 12px;
    margin: 8px;
    height: 200px;
    width: 450px;
}

.review-title {
    text-align: left;
}

.review-author {
   text-align: left; 
}

.rating-date-container {
    display: flex;
    flex-direction: row;
}

.date {
    padding-left: 12px;
}

.review-text {
    text-align: left;
    text-overflow: ellipsis;
}