.tag {
    border: 1px white solid;
    padding: 4px;
    border-radius: 4px;
    background-color: blue;
    margin: 10px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
}

.tag-delete-btn {
    background-color: transparent;
    border: none;
    color: white;
}