.App {
  background-color: #97544d;
  text-align: center;
  color: #0C240B;
  padding: 10px;
}

.section {
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px;
}

.recipe-image {
  border-radius: 8px;
  max-width: 300px;
  max-height: 300px;
}